<html>
   <head>
     <link rel="stylesheet"  href="users.scss">
   </head>
   <body>
      <% if resource.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% resource.errors.full_messages.each do |message| %>
              <div class="mynotification"><li class="left"><%= message %></li><span class="close">&times;</span></div>
            <% end %>
          </ul>
        </div>
      <% end %>
  </body>
</html>