body{
  margin:10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background-color: #666666;
}

.myborder{
  border-style: solid;
  background-color: burlywood;
  padding-top:20px;
  padding-left:10px;
  margin:0px;
  height:100px;
}

.container{
  background-color:gray;
  border: 1px solid gray;
  margin-right: auto;
  margin-left: auto;
  padding:8px 8px 8px 8px;
  height:100%;
  width:250px;
}

.othercontainer{
  background-color:gray;
  border: 1px solid gray;
  margin-right: auto;
  margin-left: auto;

  height:100%;
  width:250px;
  margin-left: 2px;
  margin-right: 2px;
}

.mylink{
  text-decoration: none;
  background-color: burlywood;
  border: 1px solid burlywood;
  color: white;
  text-decoration: none;
  text-underline: none;
  font-size: 16px;
  cursor: pointer;
}
.notification{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

.mynotification{
  margin-top: -1px; /* Prevent double borders */
  padding: 12px;
  text-decoration: none;
  font-size: 12px;
  color: red;
  display: block;
  position: relative;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%)
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.right {
  float: right;
}

.left{
  float: left;
}
li{
  float:right;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.mybutton{
  text-decoration: none;
  background-color: burlywood;
  border: 1px solid burlywood;
  color: white;
  text-decoration: none;
  text-underline: none;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
}

.field_len{
  width: 245px;
}

.password{
  text-decoration: none;
  float: right;
  color: burlywood;
}

#mydevelopers {
  display: none;
}

#myQAs {
  display: none;
}

#changeStatus1 {
  display: none;
}
#changeStatus2 {
  display: none;
}

#changeStatus3 {
  display: none;
}

#changeStatus4 {
  display: none;
}

.link{
  text-decoration: none;
  text-decoration-color: red;
  color: red;
}

table{

}

.mybuttons{
  text-decoration: none;
  text-decoration-color: white;
}

.btn-group button {
  background-color: burlywood; /* Green background */
  border: 1px solid white; /* Green border */
  color: white; /* White text */
  padding: 7px 20px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  margin-left: auto;
  margin-right: auto;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: burlywood;
}
td{
  width: 150px;
}
.column {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.cellLength{
  width :600px;
}






