body{
  border:5px solid black;
  min-height:600px;
  margin:10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background-color: #666666;
}

.myborder{
  border-style: solid;
  background-color:blue;
  padding-top:20px;
  padding-left:10px;
  margin:0px;
  height:100px;
}

.container{
  background-color:gray;
  border: 3px solid black;
  margin-left:auto;
  margin-right:auto;
  padding:10px 10px 10px 10px;
  height:100%;
  width:400px;
}

.mylink{
  text-decoration: none;
  background-color: blue;
  border: 1px solid black;
  color: white;
  text-decoration: none;
  text-underline: none;
  font-size: 16px;
  cursor: pointer;
}
.notification{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%)
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}